<doctype! html>
<html>
<head>

</head>

<body ng-app='nearby'>

<div id="app" ng-controller='TestController'>
  <h3>Enter Coordinates</h3>
  <form>
    Latitude: <input type='text' ng-model='latitude'>
    <br>
    Longitude: <input type='text' ng-model='longitude'>
    <button ng-click='send()'>Find Properties</button>
  </form>

  <ul ng-show="found">
    <h3>Properties within 20 miles of input: </h3>
    <li ng-repeat='prop in properties'>{{prop.address}} <br>
    {{prop.city}} , {{prop.state}} {{prop.zip}}
    <br>
    <img ng-src='{{prop.image_url}}'>
    </li>
  </ul>
</div>



<!-- library dependencies -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>

<!-- app files -->
  <script src="app/app.js"></script>
</body>
</html>